body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;


}


#first-section {

    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, .7)), url("images/donation4.jpg");
    width: 100%;
    min-height: 70vh;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

#first-section h1 {
    margin-top: 0px;
    padding: 100px 100px 5px;
    color: aliceblue;
    font-size: 60px;
    font-weight: 900;

}

#first-section div {
    padding: 50px 20px;
    text-align: center;
}

#first-section p {
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}

.links {
    margin-top: 90px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-color: rgb(255, 99, 71);
    border-radius: 5px;
}

#second-section {
    text-align: center;
}

#second-div1 {
    padding-top: 50px;
    margin-bottom: 80px;
}

#second-div1 p {
    color: gray;
}

#form-section {
    /* border: 5px solid gray; */
    margin: 0px 30px;
}

.hidbox {
    display: none;
}

.label-taka {
    /* border: 5px solid red; */
    background-color: rgba(206, 199, 199, 0.313);
    padding: 30px 20px;
    margin: 50px 10px;
    font-weight: 600;
}

input[type="radio"]:checked+label {
    border: 2px solid orangered;
    background-color: rgba(217, 104, 104, 0.333);
    color: rgb(242, 84, 56);

}